{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live sentiment analysis</title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'livesentiment/style.css' %}">
</head>
<body>

<h1>Live sentiment analysis</h1>
<form action="" method="post" id="textform">
    {% csrf_token %}
    {{ form }}
</form>
<button id="update">Manual update</button>

<p id="stars">★★☆☆☆</p>
<p id="response_text" hidden>...</p>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'foodlist/jquery-2.2.4.js' %}"></script>
<script src="{% static 'livesentiment/script.js' %}">
</script>
</html>
