{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="app" class="w3-row">
    <div class="w3-panel">
        <h2>Dina listor</h2>
    </div>
        <div class="w3-row w3-light-gray">
            {% for list in lists %}
                <mn-list name="{{ list.name }}" pk="{{ list.id }}"></mn-list>
            {% endfor %}
        <mn-list v-if="new_list_name" v-bind:name="new_list_name" pk="0"></mn-list>
        <input class="w3-input" type="text" placeholder="Create new list" v-model="new_list_name">
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'lists/ajax_functions.js' %}"></script>
    <script src="{% static 'lists/vuelists.js' %}"></script>
{% endblock %}